.nav{
    width: 100vw;
    height: 15vh;
    background-color:peru;
    display: flex;
}
.nav .logo img {
    width:90px;
    height:90px;
    margin-top: 10px;
    margin-left: 20px;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.nav .nav-links ul {
    list-style-type: none;
}
.nav .nav-links ul li{
    display: inline-flex;
    margin-left: 30px;
}
.nav .nav-links ul li a {
    text-decoration: none;
    color: papayawhip;
    font-size: 30px;
}
.nav .nav-links ul {
    margin-right: 30px;
    margin-top: 30px;

}
.banner {
    width: 100vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(20+\ House\ 3\ Bedroom\ Design\ _\ 20+\ Haus\ 3\ Schlafzimmer\ Design\ _\ 20+\ منزل\ 3\ غرف\ نوم.jpeg)
}
.banner img{
    width: 100%;
    height: 100%;
}
.banner .info-text .info-content{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90px;
    color:brown
}
.banner-buttons a {
text-decoration: none;
background-color: peru;
color: white;
width: 100px;
height: 25px;
display: inline-flex;
border-radius: 10%;
text-align: center;
padding: auto;
} 
.about {
    width: 100vw;
    height: 89vh;
    background-color: peru;
    color: brown;
}
.about .sub-heading  {
    width: 100%;
    text-align: center;
}
.about .sub-heading h4 {
    font-size: 40px;
}
.about .detail-card {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 70%;
;
}
.about .detail-card .card {
    width: 29%;
    height: 90%;
    background-color:sandybrown;
    text-align: center;
    border-radius: 2%;
color: black;
}
.about .detail-card .card h6 {
    color: black;
    font-size: 22px;

}
.Testimonials .sub-heading{
    font-size: 40px;
    width: 100%;
    text-align: center;
    background-color:saddlebrown;
    color: sandybrown;
}
.Testimonials{
    width: 100vw;
    height: 89vh;
}
 .Testimonials .Testimonials-details{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    background-color: antiquewhite;

}
.Testimonials-details .Testimonials-card img{
    border-radius: 100%;
}

.Testimonials-details .Testimonials-card {
    width: 40%;
}
.Payment ,.sub-heading{
    font-size: 40px;
    width: 100%;
    text-align: center;
    background-color: saddlebrown;
    color:sandybrown;
}
.Payment .Payment-details .Payment-card img{
    border-radius: 100%;

}
.Payment-details .Payment-card .card-1 {
    width: 40%;
}
.Payment-details .Payment-card .card-2{
    width: 40%;
}
.Credentials .sub-heading{
    font-size: 40px;
    width: 100%;
    text-align: center;
    background-color: sandybrown;
    color: saddlebrown;
}
.Credentials .Credentials-info{
    width: 40%;
    text-align: center;
    background-color: brown;
    color: sandybrown;
}